<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="ae29ddf6-7191-402f-864b-288b081926fa" name="TestSuite 2" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="ae29ddf6-7191-402f-864b-288b081926fafileName">TestSuite-2</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
