<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="69db27b2-8ada-4585-80c8-ad0c38d63046" name="TestSuite 1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="69db27b2-8ada-4585-80c8-ad0c38d63046fileName">TestSuite-1</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
